<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <b>GOV.UK</b>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index">Register<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/info">Employers Info</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/report">Report</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Language
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">English</a>
                          <a class="dropdown-item" href="#">Español</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        
    <title>Gender Pay Gap</title>
    
    <style>
        body{
            background-color: #f6e5cb;
        }
        .container{
            margin-top: 10px;
            max-width: 960px;
        }

        .container-title-info{
            display: flex;
            justify-content: center;

            margin-bottom: 10px;
        }

        .navbar{
            background-color: #d76483;
        }

        .btnContainer{
            margin-top: 20px;
            margin-bottom: 20px;

            display: flex;
            justify-content: center;
        }

        .btn-save {
            padding: 5px 10px; /* Agrega padding de 5px arriba y abajo, y 10px a los lados */
        }

        .bi-save {
            margin-right: 10px; /* Añade 5px de margen a la derecha de la figura */
        }

        .row{
            margin-bottom: 10px;
        }

        .form-label{
            margin-bottom: 0px;
        }

        .dropdown-menu {
            margin-left: -50px; 
        }

        .btn-save{
            background-color: #ef9ca4;
            width: 200px;
        }

        .btn-save:hover{
            background-color: #a3a09f;
            color: #d76483;
            font-weight: bold;
        }
    </style>
  </head>
  <body>
        <div class="container">
            <div class="container-title-info">
                <h1>Customs gender pay gap report</h1>
            </div>
            
            <h4>Register Employer</h4>

            <form action="/info" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <label for="employerName" class="form-label" data-lang="employerName">Employer name</label>
                        <input id="employerName" name="employerName" type="text" class="form-control" required>    
                    </div>
                    <div class="col-md-6">
                        <label for="address" class="form-label" data-lang="address">Address</label>
                        <input id="address" name="address" type="text" class="form-control" required>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="postcode" class="form-label" data-lang="postcode">Post code</label>
                        <input id="postcode" name="postcode" type="text" class="form-control" required>    
                    </div>
                    <div class="col-md-6">
                        <label for="percentDifferenceInMeanHourlyWage" class="form-label" data-lang="percentDifferenceInMeanHourlyWage">Difference in average hourly wage (percentage)</label>
                        <input id="percentDifferenceInMeanHourlyWage" name="percentDifferenceInMeanHourlyWage"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="percentDifferenceInMedianHourlyWage" class="form-label" data-lang="percentDifferenceInMedianHourlyWage">Difference in median hourly wage (percentage)</label>
                        <input id="percentDifferenceInMedianHourlyWage" name="percentDifferenceInMedianHourlyWage"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                    <div class="col-md-6">
                        <label for="percentDifferenceInMeanBonusReceived" class="form-label" data-lang="percentDifferenceInMeanBonusReceived">Difference in average bonus received (percentage)</label>
                        <input id="percentDifferenceInMeanBonusReceived" name="percentDifferenceInMeanBonusReceived"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="percentDifferenceInMedianBonusReceived" class="form-label" data-lang="percentDifferenceInMedianBonusReceived">Difference in median bonus received (percentage)</label>
                        <input id="percentDifferenceInMedianBonusReceived" name="percentDifferenceInMedianBonusReceived"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                    <div class="col-md-6">
                        <label for="percentageOfMalesThatReceivedABonus" class="form-label" data-lang="percentageOfMalesThatReceivedABonus">Male who received bonus (percentage)</label>
                        <input id="percentageOfMalesThatReceivedABonus" name="percentageOfMalesThatReceivedABonus"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="percentageOfFemalesThatReceivedABonus" class="form-label" data-lang="percentageOfFemalesThatReceivedABonus">Female who received bonus (percentage)</label>
                        <input id="percentageOfFemalesThatReceivedABonus" name="percentageOfFemalesThatReceivedABonus"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                    <div class="col-md-6">
                        <label for="proportionOfMalesInLowerQuartile" class="form-label" data-lang="proportionOfMalesInLowerQuartile">Proportion of male in lower quartile</label>
                        <input id="proportionOfMalesInLowerQuartile" name="proportionOfMalesInLowerQuartile"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="proportionOfFemalesInLowerQuartile" class="form-label" data-lang="proportionOfFemalesInLowerQuartile">Proportion of female in lower quartile</label>
                        <input id="proportionOfFemalesInLowerQuartile" name="proportionOfFemalesInLowerQuartile"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                    <div class="col-md-6">
                        <label for="proportionOfMalesInLowerMiddleQuartile" class="form-label" data-lang="proportionOfMalesInLowerMiddleQuartile">Proportion of male in middle quartile</label>
                        <input id="proportionOfMalesInLowerMiddleQuartile" name="proportionOfMalesInLowerMiddleQuartile"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="proportionOfFemalesInLowerMiddleQuartile" class="form-label" data-lang="proportionOfFemalesInLowerMiddleQuartile">Proportion of female in middle quartile</label>
                        <input id="proportionOfFemalesInLowerMiddleQuartile" name="proportionOfFemalesInLowerMiddleQuartile"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                    <div class="col-md-6">
                        <label for="proportionOfMalesInUpperMiddleQuartile" class="form-label" data-lang="proportionOfMalesInUpperMiddleQuartile">Proportion of male in upper middle quartile</label>
                        <input id="proportionOfMalesInUpperMiddleQuartile" name="proportionOfMalesInUpperMiddleQuartile"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="proportionOfFemalesInUpperMiddleQuartile" class="form-label" data-lang="proportionOfFemalesInUpperMiddleQuartile">Proportion of female in upper middle quartile</label>
                        <input id="proportionOfFemalesInUpperMiddleQuartile" name="proportionOfFemalesInUpperMiddleQuartile"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                    <div class="col-md-6">
                        <label for="proportionOfMalesInTopQuartile" class="form-label" data-lang="proportionOfMalesInTopQuartile">Proportion of men in upper quartile</label>
                        <input id="proportionOfMalesInTopQuartile" name="proportionOfMalesInTopQuartile"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="proportionOfFemalesInTopQuartile" class="form-label" data-lang="proportionOfFemalesInTopQuartile">Proportion of female in upper quartile</label>
                        <input id="proportionOfFemalesInTopQuartile" name="proportionOfFemalesInTopQuartile"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                    
                    <div class="col-md-6">
                        <label for="companyLinkToGPGInfo" class="form-label" data-lang="companyLinkToGPGInfo">Company link</label>
                        <input id="companyLinkToGPGInfo" name="companyLinkToGPGInfo" type="text" class="form-control" required>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="responsiblePerson" class="form-label" data-lang="responsiblePerson">Responsible person</label>
                        <input id="responsiblePerson" name="responsiblePerson" type="text" class="form-control" required>    
                    </div>
                    <div class="col-md-6">
                        <label for="employerSize" class="form-label" data-lang="employerSize">Number of employees</label>
                        <input id="employerSize" name="employerSize" type="text" class="form-control" required>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="currentName" class="form-label" data-lang="currentName">Current name</label>
                        <input id="currentName" name="currentName" type="text" class="form-control" required>    
                    </div>
                    <div class="col-md-6">
                        <label for="submittedAfterTheDeadline" class="form-label" data-lang="submittedAfterTheDeadline">Submitted after the deadline</label>
                        <select id="submittedAfterTheDeadline" name="submittedAfterTheDeadline" class="form-control" required>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>    
                    </div>
                
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="company_id" class="form-label" data-lang="company_id">Company ID</label>
                        <input id="company_id" name="company_id"  type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">      
                    </div>
                </div>

                <div class="btnContainer">
                    <button type="submit" class="btn-save rounded"><i class="bi bi-save"></i>Register Employer</button>
                </div>
            </form>
        </div>

    <script>
        var translations = {
            'employerName': {
                'English': 'Employer name',
                'Español': 'Nombre del empleador'
            },

            'address':{
                'English': 'Address',
                'Español': 'Dirección'
            },

            'postcode':{
                'English': 'Post code',
                'Español': 'Código postal'
            },

            'percentDifferenceInMeanHourlyWage':{
                'English': 'Difference in average hourly wage (percentage)',
                'Español': 'Diferencia en salario promedio por hora (porcentaje)'
            },

            'percentDifferenceInMedianHourlyWage':{
                'English': 'Difference in median hourly wage (percentage)',
                'Español': 'Diferencia en la media del salario por hora (porcentaje)'
            },

            'percentDifferenceInMeanBonusReceived':{
                'English': 'Difference in average bonus received (percentage)',
                'Español': 'Diferencia en el bonus promedio recibido (porcentaje)'
            },
            'percentDifferenceInMedianBonusReceived':{
                'English': 'Difference in median bonus received (percentage)',
                'Español': 'Diferencia en la media del bonus recibido (porcentaje)'
            },
            'percentageOfMalesThatReceivedABonus':{
                'English': 'Men who received bonus (percentage)',
                'Español': 'Hombres que recibieron bonus (porcentaje)'
            },
            'percentageOfFemalesThatReceivedABonus':{
                'English': 'Female who received bonus (percentage)',
                'Español': 'Mujeres que recibieron bonus (porcentaje)'
            },
            'proportionOfMalesInLowerQuartile':{
                'English': 'Proportion of men in lower quartile',
                'Español': 'Proporción de hombres en el cuartil inferior'
            },
            'proportionOfFemalesInLowerQuartile':{
                'English': 'Proportion of female in lower quartile',
                'Español': 'Proporción de mujeres en el cuartil inferior'
            },
            'proportionOfMalesInLowerMiddleQuartile':{
                'English': 'Proportion of men in middle quartile',
                'Español': 'Proporción de hombres en el cuartil medio'
            },
            'proportionOfFemalesInLowerMiddleQuartile':{
                'English': 'Proportion of female in middle quartile',
                'Español': 'Proporción de mujeres en el cuartil medio'
            },
            'proportionOfMalesInUpperMiddleQuartile':{
                'English': 'Proportion of men in upper middle quartile',
                'Español': 'Proporción de hombres en el cuartil medio alto'
            },
            'proportionOfFemalesInUpperMiddleQuartile':{
                'English': 'Proportion of female in upper middle quartile',
                'Español': 'Proporción de mujeres en el cuartil medio alto'
            },
            'proportionOfMalesInTopQuartile':{
                'English': 'Proportion of men in upper quartile',
                'Español': 'Proporción de hombres en el cuartil superior'
            },
            'proportionOfFemalesInTopQuartile':{
                'English': 'Proportion of female in upper quartile',
                'Español': 'Proporción de mujeres en el cuartil superior'
            },
            'companyLinkToGPGInfo':{
                'English': 'Company link ',
                'Español': 'Link de la compañia'
            },
            'responsiblePerson':{
                'English': 'Responsible person',
                'Español': 'Persona responsable'
            },
            'employerSize':{
                'English': 'Number of employees',
                'Español': 'Número de empleados'
            },
            'currentName':{
                'English': 'Current name',
                'Español': 'Nombre actual'
            },
            'submittedAfterTheDeadline':{
                'English': 'Submitted after the deadline',
                'Español': 'Entregado luego de fecha límite'
            },
            'company_id':{
                'English': 'Company ID',
                'Español': 'ID de la compañía'
            },
            'registerEmployer': {
                'English': 'Register Employer',
                'Español': 'Registrar Empleador'
            },
            'tittle':{
                'English': 'Customs gender pay gap report',
                'Español': 'Diferencias salariales entre géneros'
            }
        }

        // Obtén el elemento del enlace "Language"
        var dropdownToggle = document.querySelector('.dropdown-toggle');
    
        // Agrega un event listener para el clic en el enlace
        dropdownToggle.addEventListener('click', function() {
            var dropdownMenu = document.querySelector('.dropdown-menu');
            dropdownMenu.classList.toggle('show');
        });

        function updateLabels(language) {
            var labels = document.querySelectorAll('.form-label');
            labels.forEach(function(label) {
                var id = label.getAttribute('for');
                if (translations[id] && translations[id][language]) {
                    label.textContent = translations[id][language];
                }
            });

            var registerEmployer = document.querySelector('h4');
            if (translations['registerEmployer'] && translations['registerEmployer'][language]) {
                registerEmployer.textContent = translations['registerEmployer'][language];
            }

            var tittle = document.querySelector('h1');
            if (translations['tittle'] && translations['tittle'][language]) {
                tittle.textContent = translations['tittle'][language];
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            var lang = 'English'; // Cambia esto a 'Español' si quieres que el idioma inicial sea español
            updateLabels(lang);
        });

        var languageButtons = document.querySelectorAll('.dropdown-item');
        languageButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var language = this.textContent.trim();
                updateLabels(language);
            });
        });

    </script>
  </body>
</html>